# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
file_header_template = Copyright (c) .NET Core Community. All rights reserved. \n Licensed under the MIT License. See License.txt in the project root for license information.